html, body{
	width: 100%;
	height: 100%;
}

.container, .container-fluid{
	width: 100%;
	height: 100%;	
}

#content{
	height: 10%;		
}

#root{
    height: 80%;        
}


.ticketsCountBanner{
	height: 20%;
}

.circle{
	width: 100px;
    height: 100px;
    background: aqua;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    float: left;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2%;	
}

.serviceReqTable{
    width: 70%;
    height: 70%;
}

.fullDimension {
    width: 100%;
    height: 100%;
}

.fullWidth {
    width: 100%;
}


.fullHeight {
    height: 100%;
}

.parentComp{
    height: 94%;
}

.ticketsCountBanner{
    height: 20%;
}

.adminComp{
    height: 60%;
}